// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            //If you want to overwrite your keyboard layout,
            // uncomment the line below and change the layout accordingly.
            layout "us,ru" // Use the American keyboard layout

	    // Sets Caps Lock to toggle between layouts (change to your preference)
            options "grp:caps_toggle,compose:ralt"
        }
        numlock // Enable numlock on startup
	// Keeps the same layout active globally across all windows
        track-layout "global"
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
        dwt // This enables disable-while-typing
    }

    mouse {
        // If you want to disable Mouse Acceleration,
        // uncomment the lines below.
        //accel-profile "flat"
        //accel-speed 0.0
    }

    focus-follows-mouse // Automatically focus windows under the mouse pointer
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
