[plugin]
prepend_previewers = [
  { mime = "image/djvu", run  = "djvu-view"},
  { url = "*.md", run = 'faster-piper --rely-on-preloader' },
  { url = "*.docx", run = 'faster-piper --rely-on-preloader' },
  { url = "*.{xlsx,xls,xlsm,xlsb,ods}", run = 'faster-piper --rely-on-preloader' },
  { mime = "application/msword", run = 'faster-piper --rely-on-preloader' },
]
prepend_preloaders = [
  { url = "*.md",     run = 'faster-piper -- CLICOLOR_FORCE=1 glow -w=$w -s=dracula -- "$1"' },
  { url = "*.docx",   run = 'faster-piper -- doxx --export text "$1"' },
  { url = "*.{xlsx,xls,xlsm,xlsb,ods}", run = 'faster-piper -- xleak "$1"' },
  { mime = "application/msword", run = 'faster-piper -- antiword "$1"' },
]


[opener]
edit = [
  { run = '${EDITOR:-vi} %s', desc = "$EDITOR", block = true, for = "unix" },
  { run = "nvim %s", block = true, for = "windows" },
]
